[user]
  name = Mitchell Schauer
  email = schauer.mitchell@gmail.com

[init]
  defaultBranch = main

[alias]
  s = status
  a = add .
  c = commit -m
  co = checkout
  pu = push
  l = log --oneline --graph --all
  rb = rebase -i HEAD~5

[color]
  ui = auto
